<h1>購入明細</h1>
<ul>

<%@receipts.each do | receipt |%>
          <hr class="my-4">
 <%=link_to receipt_path(id:receipt.checkout_id) do%>
<li>
checkout_id:<%= receipt.checkout_id%> |
<% receipt.names.each_with_index do |name, index| %>
  商品名: <%= name %> | 商品価格: <%= receipt.prices[index] %>円 | 購入数: <%= receipt.quantities[index] %>個
<% end %>
</li>
<%end%>
<%end%>
</ul>
