<h1>購入明細</h1>
<h2>購入ID:<%=@receipt.checkout_id%></h2>
<ul>

<%@receipt.names.each_with_index do |name,index|%>
  <hr class="my-4">
   <li>商品名: <%= name %> | 商品価格: <%= @receipt.prices[index] %>円 | 購入数: <%= @receipt.quantities[index] %>個</li>
<%end%>
  <hr class="my-3">
<h3>合計金額：<%=@receipt.checkout.cart.total_price%>円</h3>
</ul>
<%= link_to 'back', receipts_path ,class: "btn btn-outline-dark mt-auto" %>
